*{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    background-color:  green; 


}
h1{
    font-size: 1.5rem;
    text-align: center;
}
.container{
    color: goldenrod; 
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    padding: 20px;
    border-radius: 10px;

}
.calculator form input{
    
        /* border: 0; */
        outline: 0;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        box-shadow: -8px -8px 15px rgba(255,255 255,0.1),5px 5px 15px rg5ba(0,0,0,0.2),-;
        /* background-color: transparent; */
        cursor: pointer;
        color: #000;
        font-size: 20px;
}
.calculator form input:hover{
    background-color: goldenrod;
}
form input.row-1{
    color: rgb(32, 20, 20);
    font-size: large;
}

form.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
 .container .display input{
    border: none;
    text-align: center;
    flex: 1;
    padding: 10px;

    font-size: 45px;
    box-shadow: none;
    width: 250px;
    
}
form input.answer{
    width: 128px;

}
